/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.btn:focus{
box-shadow: none !important; 
}
/* Logo */
.logo{
    color: #fff;
}
.logo-color{
    color: tomato;
}

/* icon */
.icon a{
    color: #fff !important;
}
.xmark-icon{
    cursor: pointer;
}
/* Card CSS */
.title-size{
    font-size: 16px;
    color: #3D72A4;
}
.card-title-design{
    font-style: italic;
}
.card-footer{
    background-color: #fff !important;
    border: none !important;
}
.arrow-icon{
    font-size: 25px;
}

/* Details info */
.info-title{
    color: #3D72A4;
}
.info-image{
    width: 250px !important;
    height: 300px !important;
    margin: 0 auto !important;
}
.list-span{
    display: flex;
    justify-content: space-between;   
}

/* Error */
.alert {
    padding: 20px;
    background-color: #e26b63fd;
    color: white;
    display: none;
    margin-top: 20px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }
@media only screen and (max-width: 600px) {
    .list-span{
        flex-direction: column;
    }
}


